body {
    background-image: url("https://live.staticflickr.com/60/229766355_4ecd88e7de_b.jpg");
    background-size: cover;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 50px;
}

p{
    font-size: 30px;
}

a {
    text-decoration: solid;
    color: red;
}